.winter-section {
    width: auto;
    height: 500px;
    background-position: center;
    background-size: cover;
    background: url(winter1.jpg);
    background-attachment: fixed ;
    margin-top:  100px;
    margin-bottom:  70px;
}
.winter-section .content {
    width: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 160px;
    right: -900px;
}
.winter-section h1 {
    font-family: 'Noticia Text';
    font-size: 62px;
    font-style: italic;
    color: white;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}
.winter-section h3 {
    font-family: 'Noticia Text';
    font-size: 26px;
    font-weight:  normal;
    color: white;
}
.winter-section .shop-now {
    font-size: 17px;
    font-weight: 700;
    padding: 14px 20px;
    border: none;
    transition: 0.3s;
}
.winter-section .shop-now:hover {
    background-color: black;
    color: white;
}