.container {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav {
    font-size: 21px;
    padding: 0;
}
.nav .nav-li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
.nav .nav-li a:hover {
    color: black;
}
.nav .nav-li a {
    text-decoration: none;
    color: #a52a2a;
}
.nav .dropdown {
    display: none;
    list-style: none;
    padding: 0;
    line-height: 18px;
}
.nav .dropdown .dropdown-li {
    padding: 3px;
}
.nav .nav-li:hover .dropdown {
    display: block;
    position: absolute;
    border-radius: 11px;
    list-style: none;
    background-color: rgb(14, 9, 7);
    padding: 10px;
    font-size:17px;
    box-shadow: 3px 3px 6px grey;
}
.dropdown .dropdown-li:hover {
    background-color: white;
}
.dropdown .dropdown-li a {
    color: white;
}
.nav-li .icon {
    height: 8px;
    transform: rotate(-90deg);
    transition: 0.25s;
    vertical-align: middle;
}
.nav-li:hover .icon {
    transform: rotate(0deg);
}
.search-bar input {
    padding: 12px;
    font-size: 17px;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 3px 5px grey;
    outline: none;
    margin-left: 20px;
    width: 400px;
}
.navbar .logo {
  height: 100px;
  width: 160px;
  cursor: pointer;
}
.right-section, .cart, .user {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
}
.right-section .cart-tooltip, .user-tooltip {
    position: absolute;
    background-color: grey;
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 13px;
    top: 40px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}
.right-section .cart:hover .cart-tooltip, .user:hover .user-tooltip  {
    opacity: 1;
}
.right-section img {
    margin-left: 30px; 
    cursor: pointer;
    height: 30px;
    width: 30px;
}
.noti p {
    text-align: center;
    background-color: black;
    color: white;
    padding: 3px 0px;
    margin-top: 0;
    margin-bottom: 0;
}
.noti a {
    color: #a52a2a;
    text-decoration: none;
}
.noti a:hover {
    color: white;
    text-decoration: underline white;
}
